{%extends 'music/base.html'%}
{%block title%}All Songs{%endblock%}
{% block songs_active %}active{% endblock %}
{% block body %}

<ul>
  {% for song in all_songs %}
  	<p>
    <a href="http://{{request.get_host}}/media/{{song.song_file}}">{{song.song_title}}.{{song.file_type}} - {{song.album.artist}}</a>
    {% if song.is_favorite %}
		<span class="glyphicon glyphicon-star"></span>
    {% else %}
    	<span class="glyphicon glyphicon-star-empty"></span>
    {% endif %}
	</p>
  {% endfor %}
</ul>

{%if error_message%}
  {{error_message}}
{%endif%}
{%endblock%}