{%extends 'music/base.html'%}
{%block title%}All Songs{%endblock%}
{% block songs_active %}active{% endblock %}
{% block body %}

{% for song in all_songs %}
  <div class="col-sm-4 col-lg-4" align="center">
    <div class="jumbotron">
      <div id = "simranjeet">
      <img src="{{song.album.album_logo.url}}" alt="">  
      </div>
      <br>
      <audio controls>
        <source src="{{song.song_file.url}}" type="audio/mpeg">
      </audio>
      <br>
    <strong> {{song.song_title}}.{{song.file_type}} </strong> - <i>{{song.album.artist}}</i>
    {% if song.is_favorite %}
		<span class="glyphicon glyphicon-star"></span>
    {% else %}
    	<span class="glyphicon glyphicon-star-empty"></span>
    {% endif %}
    <br>Album: {{song.album.album_title}}
  </div>
</div>
{% endfor %}

{%if error_message%}
  {{error_message}}
{%endif%}
{%endblock%}